<%= form_for @forum do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name,style:"width:440px" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description ,style:"height:220px;width:440px"%>
  </p>
  <p><%= f.submit %></p>
<% end %>
