<h4>Customise your feed</h4>
<%= form_for(@rss_feed) do |f| %>
  <% if @rss_feed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_feed.errors.count, "error") %> prohibited this customisation from being saved:</h2>

      <ul>
      <% @rss_feed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
    Set maximum stories per feed: <%= f.number_field :max_items %>
  </div>  
  <div type="button" class="btn btn-default">
    <%= f.submit "Apply" %>
  </div>
<% end %>

<h5>Subscribe to up to three feeds </h5>
<%= form_for(@rss_feed_item_1) do |f| %>
  <% if @rss_feed_item_1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_feed_item_1.errors.count, "error") %> prohibited this customisation from being saved:</h2>

      <ul>
      <% @rss_feed_item_1.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
	<tr><td>
	  <div class="field">
		<%= f.url_field :url %>
	  </div>
  </td>
  <td>
	  <div type="button" class="btn btn-default">
		<%= f.submit "Subscribe" %>
	  </div>
  </td></tr></table>
<% end %>

<%= form_for(@rss_feed_item_2) do |f| %>
  <% if @rss_feed_item_2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_feed_item_2.errors.count, "error") %> prohibited this customisation from being saved:</h2>

      <ul>
      <% @rss_feed_item_2.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table><tr><td>
  <div class="field">
    <%= f.url_field :url %>
  </div>
  </td>
  <td>
  <div type="button" class="btn btn-default">
    <%= f.submit "Subscribe" %>
  </div>
  </td></tr></table>
<% end %>

<%= form_for(@rss_feed_item_3) do |f| %>
  <% if @rss_feed_item_3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rss_feed_item_3.errors.count, "error") %> prohibited this customisation from being saved:</h2>

      <ul>
      <% @rss_feed_item_3.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table><tr><td>
  <div class="field">
    <%= f.url_field :url %>
  </div>
  </td>
  <td>
  <div type="button" class="btn btn-default">
    <%= f.submit "Subscribe" %>
  </div>
  </td></tr></table>
<% end %>
